.h1 {
  text-align: center;
}
ol {
  columns: 4;
}
a {
  text-decoration: none;
  color: black;
}
code {
  color: blue;
}
span {
  color: blueviolet;
}
.chengeColor {
  color: red;
}
.container {
  display: flex;
  justify-content: center;
}
.container div {
  width: 500px;
}
/* Document */
